@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1146px;
    margin: auto;
}

body{
    background-color: white;
}

header{
    padding-top: 53px;
    padding-bottom: 53px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 46px;
}

.logo{
    font-family: 'M plus 1p';
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 178.2%;
    color: #0F044C;
    text-decoration: none;
}

nav ul a{
    font-family: 'M plus 1p';
    font-weight: 800;
    font-size: 14,4px;
    line-height: 29,94px;
    letter-spacing: 2px;
    color: #080800;
    text-decoration: none;
}

.tel::before{
    content: url(./images/Vector.svg);
    margin-right: 18px;
}

.tel{
    display: flex;
    font-family: 'M plus 1p';
    font-weight: 800;
    font-size: 14,4px;
    line-height: 29,94px;
    letter-spacing: 2px;
    color: #30233D;
    list-style: none;
    text-decoration: none;
}


.main-images{
    background-image: url(./images/images-main.jpg);
    background-size: cover;
    padding-top: 126px;
    padding-bottom: 115px;
}

h1{
    margin-bottom: 22px;
    font-family: 'M plus 1p';
    font-weight: 500;
    font-size: 54px;
    line-height: 80px;
    color: #FCFCFC;
}

p{
    font-family: 'M plus 1p';
    font-weight: 800;
    font-size: 18px;
    line-height: 25,9px;
    letter-spacing: 2px;
    color: #FCFCFC;

}

.remember h2{
    padding-top: 72px;
    padding-bottom: 12px;
    font-family: 'M plus 1p';
    font-weight: 800;
    font-size: 12.6px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #A22F32;
}

.p-second{
    max-width: 870px;
    font-family: 'M plus 1p';
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 2px;
    color: #30233D;
    margin-bottom: 60px;
}

.wrapper{
    display: flex;
}

.box{
    flex-basis: 362px;
    justify-content: space-between;
    border: 1px solid #F61067;
    padding: 38px 36px;
    margin-right: 30px;
}

 .box h3{
    font-family: 'M plus 1p';
    font-weight: 500;
    font-size: 27px;
    line-height: 40px;
    color: #30233D;
    margin-top: 33px;
    margin-bottom: 13px;
}

.box p{
    font-family: 'M plus 1p';
    font-weight: 400;
    font-size: 16.2px;
    line-height: 26px;
    color: #30233D;
}

footer{
    background-color: #080800;
    margin-top: 58px;
    padding-top: 84px;
    padding-bottom: 72px;
}

.fotter{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}